<!DOCTYPE html>
<html>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <form role="form">
            <div class="form-group"></div>
            <div class="form-group">
              <label for="addfloor" style="color:white">
                Add Floor
              </label>
              <input class="form-control" id="addfloor" />
            </div>
            <div class="form-group">
              <label for="file" style="color:white">
                File input
              </label>
              <input type="file" class="form-control-file" id="file" style="color:white"/>
              <p class="help-block" style="color:white">
                Upload a floor map image and input  <br/>
                a floor name to create new map
              </p>
            </div>
            <button type="submit" id="submit" class="btn btn-primary" style="background-color:#4b6777; border-color:#4b6777;">
              Submit
            </button>
            <br />
            <br />
            <button type="submit" id="addRooms" class="btn btn-primary" style="background-color:#4b6777; border-color:#4b6777;">
              Add Rooms
            </button>
            <p>
              When you're done submitting floors, move on to the next step of
              customization by clicking here.
            </p>
          </form>
        </div>
        <div class="col-md-8" id="mapContainer">
          <img
            id="mapImg"
            alt="Bootstrap Image Preview"
            src="https://i.redd.it/uo0u67glvlq01.jpg"
            onclick=""
          />
        </div>
      </div>
    </div>

    <br /><br /><br />

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div
            id="myAlert"
            class="alert alert-dismissable alert-success"
            style="display: none;"
          >
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-hidden="true"
            >
              ×
            </button>
            <h4>
              Nice!
            </h4>
            <strong>ADDED FLOOR!</strong> The floor has been added to the db,
            please continue to add rooms when finished adding floors
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  document.getElementById("addRooms").addEventListener("click", event => {
    event.preventDefault();
    window.location = "addRoom";
  });



  function uploadImage(){

  }
  document.getElementById("submit").addEventListener("click", event => {
    event.preventDefault();
    var file = document.getElementById("file").files[0];
    var floor = document.getElementById("addfloor").value;
    if (floor == null || file == null) {
      alert("You must input a floor name and an image.");
      return;
    }

    file = new File([file], floor, { type: "image/png" });

    var acc = getCookie("uid");

    var storageRef = firebase.storage().ref();
    var ref = storageRef.child(acc + "/" + floor);
    ref
      .put(file)
      .then(snapshot => {
        return snapshot.ref.getDownloadURL(); // Will return a promise with the download link
      })
      .then(downloadURL => {
        console.log(
          `Successfully uploaded file and got download link - ${downloadURL}`
        );

        var db = firebase.database();
        var dbref = db.ref(acc + "/images/" + "floors/");
        dbref.push({ name: floor });

        return downloadURL;
      })
      .then(myURL => {
        var img = document.getElementById("mapImg");
        img.src = myURL;

        document.getElementById("myAlert").style.display = "block";
      })
      .catch(function(error) {
        console.log(error);
        console.log("there was an error getting images");
      });
  });

  /*
				ref.getDownloadURL().then(function(url) {
				// `url` is the download URL for 'images/stars.jpg'
		
				// This can be downloaded directly:
				var xhr = new XMLHttpRequest();
				xhr.responseType = 'blob';
				xhr.onload = function(event) {
				var blob = xhr.response;
				};
				xhr.open('GET', url);
				xhr.send();
		
				// Or inserted into an <img> element:
				
		
		*/
</script>
