<!DOCTYPE html>
<html>
  <style>
    #addRoomDiv {
      position: absolute;
      z-index: 9;
      text-align: center;
      border: 3px solid #ebdd17;
      background-color: orange;
      resize: both;
      overflow: auto;
      opacity: 0.7;
    }

  </style>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <select id="floorList" style="margin-bottom: 1em"></select>
          <button
            type="button"
            id="addRoomBTN"
            class="btn btn-success"
            style="margin-bottom: 1em"
          >
            Add Room
          </button>

          <div class="form-group">
            <label for="addfloor">
              Room Number
            </label>
            <input class="form-control" id="roomNum" />
          </div>

          <button
            type="button"
            id="confRoomBTN"
            class="btn btn-success"
            style="margin-bottom: 1em"
          >
            Confirm Room
          </button>
          <button
            type="button"
            id="confFloorBTN"
            class="btn btn-success"
            style="margin-bottom: 1em"
          >
            Confirm Floor
          </button>
        </div>
        <div class="col-md-10">
          <div id="mapContainer">
            <img
              id="mapImg"
              alt="Bootstrap Image Preview"
              src="https://i.redd.it/uo0u67glvlq01.jpg"
            />

            <div id="addRoomDiv">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="/js/dragElement.js"></script>
<script>
	var dragger = null;
  (() => {
    document.getElementById("floorList").addEventListener("change", function() {
      loadFloor(this.value);
    });

    dragger = new DragElement(
      document.getElementById("addRoomDiv"),
      document.getElementById("mapImg")
    );
  })();

  document.getElementById("confFloorBTN").addEventListener("click", function() {
    window.location = "display";
  });

  document.getElementById("addRoomBTN").addEventListener("click", function() {
    var ele = document.getElementById("addRoomDiv");
    if (ele.classList.contains("vis")) {
      console.log("div already created");
      ele.classList.remove("vis");
    } else {
      ele.classList.add("vis");
      ele.style.top = "0";
      ele.style.left = "0";
      ele.style.height = "30%";
      ele.style.width = "30%";
    }
  });

  document.getElementById("confRoomBTN").addEventListener("click", function() {
    var selectedArea = document.getElementById("addRoomDiv");
    var roomNum = document.getElementById("roomNum");

    if (selectedArea.style.display == "none") {
      alert("Please first select your region with the add room button");
    } else if (roomNum.value == "") {
      alert("Please first enter in a room number");
    } else {
			var roomData = dragger.getPercentageDimensions();
      
      var acc = getCookie("uid");
      var room = roomNum.value;
      roomNum.value = "";

      var floor = document.getElementById("floorList").value;

			roomData.room = room;

			addLocalRoomToMap(roomData,document.getElementById("mapContainer"));

      var db = firebase.database();
      var dbref = db.ref(acc + "/images/" + "floorData/" + floor + "/");
      dbref.push(roomData);

			dragger.reset();
    }
  });

	function addLocalRoomToMap(roomData, mapContainer){
		var roomDiv = document.createElement("div");
		roomDiv.classList.add('room-div');

		roomDiv.dataset.roomNumber = roomData.room;

	 roomDiv.style.top = roomData.top;
      roomDiv.style.left = roomData.left;
      roomDiv.style.height = roomData.height;
      roomDiv.style.width = roomData.width;

	mapContainer.appendChild(roomDiv);
	}

  function getUserAsync() {
    return new Promise((resolve, reject) => {
      var response = fetch("/currentUser", {
        method: "GET",
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(resp => {
          if (resp.status == 200) {
            return resp.json();
          } else {
            reject(resp);
          }
        })
        .then(function(data) {
          console.log(data);
          currUser = data;

          resolve(data);
        })
        .catch(err => {
          reject(err);
        });
    });
    // expected output: 'resolved'
  }

  function loadFloor(floorName) {
    console.log(`Loading ${floorName}`);
    var storageRef = firebase.storage().ref();
    var acc = getCookie("uid");
    var ref = storageRef.child(acc + "/" + floorName);
    ref
      .getDownloadURL()
      .then(function(url) {
        // `url` is the download URL for 'images/stars.jpg'

        // This can be downloaded directly:
        var xhr = new XMLHttpRequest();
        xhr.responseType = "blob";
        xhr.onload = function(event) {
          var blob = xhr.response;
        };
        xhr.open("GET", url);
        xhr.send();

        // Or inserted into an <img> element:
        var img = document.getElementById("mapImg");
        img.src = url;
      })
      .catch(function(error) {
        console.log(error);
        console.log("there was an error getting images");
      });
  }

  loadFloorNames();

  function fetchNames() {
    var names = [];

    var isFirst = true;
    return new Promise((resolve, reject) => {
      var acc = getCookie("uid");

      db = firebase.database().ref(acc + "/images/" + "floors/");
      db.on("value", function(snapshot) {
        snapshot.forEach(function(childSnapshot) {
          var childData = childSnapshot.val();

          if (isFirst) {
            isFirst = false;
            loadFloor(childData.name);
          }

          names.push(childData.name);
        });

        resolve(names);
      });
    });
  }

  function loadFloorNames() {
    var list = document.getElementById("floorList");
    //var list2 = document.getElementById("floorDropdown");

    fetchNames()
      .then(names => {
        console.log("Promise result", names);
        for (var i = 0, l = names.length; i < l; i++) {
          var option = document.createElement("option");
          option.text = names[i];
          list.add(option);
        }
      })
      .catch(err => {
        console.error(err);
      });
  }
</script>
