<!DOCTYPE html>
<html>
<body>


<div id="testContainer" class="testContainer" style="
position: relative;
width: 55vw;
">


			<img id="image" alt="Bootstrap Image Preview" src="https://i.redd.it/uo0u67glvlq01.jpg" />


</div>

</body>

</html>


<script>


</script>