<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" onclick="exportReadings()">
  Export Readings
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<script>
    var db = firebase.database();


    function exportReadings(){
    var ref = db.ref();
    var val;
    ref.on("value", function(snapshot) {
    val = snapshot.val();
    console.log(val);
    printData(val);
    //val = JSON.stringify(val);
    }, function (errorObject) {
    console.log("The read failed: " + errorObject.code);
    });   
    return val;
    }

    function printData(readings){
        for (var key in readings) {
            if (readings.hasOwnProperty(key)) {
                console.log(key + " -> " + readings[key]);
                }
        }
        
        /*
                console.log(reading);
        document.getElementById("demo").innerHTML = "Room " + roomID + "<br/>"
        + "Temperature: " + reading.Readings.temp + "<br/>"
        + "Humidity: " + reading.Readings.humidity + "<br/>";
        */

    }

    


</script>